.mediaViewInfo {
	--web-view-name: certificates;
	--web-view-id: certificates;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: certificates;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#certificates {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(245,239,239,1);
	overflow: hidden;
	--web-view-name: certificates;
	--web-view-id: certificates;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Nav_bey {
	position: absolute;
	width: 1554px;
	height: 523px;
	left: 202px;
	top: 82px;
	overflow: visible;
}
#Home_bez {
	left: 943px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Works_be {
	left: 1263px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Certificates_be {
	left: 1433px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Skills_be {
	left: 1108px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#SIRIKONSS_be {
	left: 119px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(204,153,153,1);
}
#icon_be {
	position: absolute;
	width: 100px;
	height: 66.667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_material-laptop_be {
	fill: rgba(114,114,114,1);
}
.Icon_material-laptop_be {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 66.667px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-code_be {
	fill: rgba(213,140,140,1);
}
.Icon_awesome-code_be {
	overflow: visible;
	position: absolute;
	width: 45.004px;
	height: 35.997px;
	left: 27px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#COMING_SOON_ {
	left: 518px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 482px;
	white-space: nowrap;
	text-align: left;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(206,118,118,1);
}