body{
    background: #121827;
}
.menubar{
    width: auto ;
    height: 7vh;
    padding: 0.2vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    margin: 2vh 1vh;
    /* background: white;
    box-shadow: 0 0 10px #666666; */
    border-radius: 2px;
}
.menubar .logo {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Fredoka One', cursive;
    list-style: none;
    float: left;
    margin:0;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 1vh;
    
}
.menubar .logo li a {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: #ff5555;
}
.menubar h1 {
    margin:0;
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
}
.menubar ul {
    
    list-style: none;
    float : right;
}
.menubar ul li {
    float: left;
    margin-right : 30px;
}
.menubar ul li a {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;
    text-decoration: none;
    color: #F2E205;
    border-bottom: 10px solid transparent;
    padding-bottom: 1em;
    transition: all 0.3s ease;
}
.menubar ul li a:hover {
    border-bottom: 4px solid #F2E205;
    border-radius: 3px;
    padding-bottom: 0px;
    
}

.hidden {
  opacity:0;
}
.console-container {
 
font-family: 'Fredoka One', cursive;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}